body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(238, 234, 234);
    font-family: sans-serif;
    color: rgb(9, 199, 2);
}